* {
    font-family: monospace;
    color: black;
}

a:visited, a:link {
    color: black;
    text-decoration: none;
  }

  #phaser-game{
    display: grid;
    justify-items: center;
    align-self: center;
    left: 50px;
  }