html, body {
  margin: 0;
  padding: 0;
  background-color: #343231;
  color: whitesmoke;
  font-family: monospace;
}

p, ul, li {
  text-align: center;
}

li {
  list-style-type: none;
}

a:visited, a:link {
  color: whitesmoke;
  text-decoration: none;
}

canvas {
  display: block;
}
