html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: whitesmoke;
  font-family: monospace;
}

a:visited, a:link {
  color: whitesmoke;
  text-decoration: none;
}

canvas {
  display: block;
}
