*{
    text-align: center;
    background-color: red;
    font-family: monospace;
}

.main{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    border: 2px;
    border-radius: 20%;
}