*{
    text-align: center;
    background-color: red;
    font-family: monospace;
}

a:visited {
    text-decoration: none;
    color: black;
}

.p5, .phaser, .aframe{
    display: grid;
    grid-template-columns: auto auto auto auto;
    border: 2px;
    border-radius: 20%;
}